<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <EnableADPublish>true</EnableADPublish>
    <ADDirectoryAccessLevel>0</ADDirectoryAccessLevel>
    <ADDomain>morcohen739gmail.onmicrosoft.com</ADDomain>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>sce-f</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>MORCOHEN</MSDeployServiceURL>
    <DeployIisAppPath>scef</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>morco</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="usersDAL" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="mvc_project1.DAL.usersDAL, mvc_project1" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="subsDAL" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="mvc_project1.DAL.subsDAL, mvc_project1" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="gblmDAL" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="mvc_project1.DAL.gblmDAL, mvc_project1" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="commDAL" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="mvc_project1.DAL.commDAL, mvc_project1" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADAppIDUri>https://morcohen739gmail.onmicrosoft.com/WebApp-sce-f</ADAppIDUri>
    <ADDestinationProvisioned>True</ADDestinationProvisioned>
    <ADUsesOwinOrOpenIdConnect>true</ADUsesOwinOrOpenIdConnect>
    <ADClientAPPID>cda9a198-e52a-4cde-b7f5-3d88ad2889e8</ADClientAPPID>
    <ADClientPassword>3dbCb0D35554KoFAuPzFI0PpkEsOh09tcRhD5iztXGU=</ADClientPassword>
    <ADReplyUrl>https://sce-f/</ADReplyUrl>
    <ADIssuer />
    <ADTenantId>cdedac49-80c1-4a8d-90e2-81f97be9f314</ADTenantId>
    <ADPostLogoutRedirectUri>https://sce-f/</ADPostLogoutRedirectUri>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)commDAL-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)gblmDAL-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)subsDAL-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)usersDAL-Web.config Connection String" />
  </ItemGroup>
</Project>